<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<style>
    a{text-decoration:none; color: inherit;}
    body{background-color:black; color:white;}
</style>
<body>
    <div id='nav'>
        {% block nav %}
            <a href="/">Poject Home</a> |  
            <a href="/admin">Admin</a>
        {% endblock nav %}
    </div>
    <div id='contents'>
        {% block contents %}
        
        {% endblock %}
    </div>
</body>

</html>