<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li>
                    <a href="{% url 'polls:detail' question.id %}" style='text-decoration:none; color: inherit;'>{{ question.question_text }}</a>
                </li>{# 템플릿 변수 주석 #}
            {% endfor %}
        </ul>
    {% else %}
        <p>투표가 없습니다.</p>
    {% endif %}
</body>
</html>