a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: black;
    color: white;
}
li{
    list-style-type: none;
}
#title{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 20px;
}
#newcontentbox{
    width: 80%;
    min-width: 280px;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
    display: flex;
}
#addcontent{
    border: 1px white solid;
    border-radius: 5px;
    padding-left: 5px;
    flex-grow: 1;
    font-size: 1.3rem;
    overflow: hidden;
}
#addbtn{
    margin-left: 10px;
}
.contentbox{
    width: 80%;
    min-width: 300px;
    max-width: 1100px;

    border: 1px white solid;
    border-radius: 19px;
    display: flex;
    padding: 10px;
    margin: 5px auto;
}
.content{
    flex-grow: 1;
    width: 50%;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contentbox button:nth-of-type(1){
    margin-right: 5px;
}
.done {
    text-decoration: line-through red solid 3px;
}